<script type="text/javascript">
  $(function(){
    jQuery('#camera_wrap_1').camera({
      thumbnails: true
    });

    jQuery('#camera_wrap_2').camera({
      height: '400px',
      loader: 'bar',
      pagination: false,
      thumbnails: true
    });
  })
</script>

  <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
              <div  data-src="images/slider1.jpg">
              </div>
              <div data-src="images/slider2.jpg">
              </div>
              <div  data-src="images/slider3.jpg">
              </div>
  </div>
