<div class="row" ng-app="teacherApp" ng-controller="teacherController">

  <div class="col-md-8" >
  <ul class="nav nav-tabs" role="tablist">
   <li role="presentation"  class="active"><a href="#grades" aria-controls="grades" role="tab" data-toggle="tab" aria-expanded="true">Grades</a></li>
   <li role="presentation" ><a href="#achievements" aria-controls="achievements" role="tab" data-toggle="tab">Achievements</a></li>
 </ul>
<div class="tab-content" >
  <div role="tabpanel"   class="tab-pane fade in active" id="grades">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="grade in grades">
        <h4 class="list-group-item-heading"><b>Subject</b> : {{grade.subject}}</h4>
        <p class="list-group-item-text"><b>Grade</b> : {{grade.grade}}</p>
        <p class="list-group-item-text text-muted"><b>Exam Date</b> :{{grade.examdate|date}}</p>
      </li>
    </ul>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="achievements">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="achievement in achievements">
        <h4 class="list-group-item-heading"><b>Title</b> : {{achievement.title}}</h4>
        <p class="list-group-item-text"><b>Description</b> : {{achievement.description}}</p>
        <p class="list-group-item-text text-muted"><b>Date</b> :{{achievement.achievment_date|date}}</p>
      </li>
    </ul>
    </div>
</div>
  </div>

  <div class="col-md-4" >
    <div class="panel panel-primary">
      <div class="panel-heading">
        Students
      </div>
      <div class="panel-body" >
        <ul class="list-group">
          <% if !@students.blank? %>
            <% for @user in @students %>
              <li class="list-group-item"  ng-class="{active: id===<%=@user.id%>}" ng-click="getDetail(<%=@user.id%>)" >
                <%= @user.firstname+" "+@user.lastname %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
