<div class="row" ng-app="teacherApp" ng-controller="teacherController">
    <div class="col-md-8" >
      <%= render :partial=>"tab_list"%>
    </div>
    <div class="col-md-4" >
      <%= render :partial=>"students_name_list"%>
    </div>
</div>
