<div class="row" ng-controller="achievementController">
  <div class="col-md-8">
  </div>

  <div class="col-md-4">
    <form class="form" role="form">
      <div class="form-group">

      </div>
    </form>
  </div>

</div>
